@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~src/variables';

footer {
  height: $footer-height;

  a {
    flex-grow: 1;
    text-align: center;
    color: $text-color;

    fa-icon {
      color: red;
    }
  }
}
