@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~src/variables';
@import '~src/mixins';

footer {
  @include inset-bottom(height, $footer-height);
  @include inset-bottom(padding-bottom);

  a {
    flex-grow: 1;
    text-align: center;
    color: $text-color;

    fa-icon {
      color: red;
    }
  }
}
