@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~src/variables';
@import '~src/mixins';

// Handle NavList
#nav-list {
  display: none;

  // If we are in the root path on a phone, we need the list to show up.
  &.root-path {
    display: inline-block;
  }
}

@include media-breakpoint-up(lg) {
  #nav-list {
    display: inline-block;
  }

  .row {
    .col-scroll {
      height: calc(100vh - #{$navbar-collapsed-height} - #{$footer-height});
      overflow: hidden;
      overflow-y: scroll;
    }
  }

  .row.footerHidden {
    .col-scroll {
      height: calc(100vh - #{$navbar-collapsed-height});
    }
  }
}

// Handle Banner
#banner {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

// Handle Scroll Bars
.col-scroll {
  scrollbar-color: lighten($background-color, 10%) $background-color;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    visibility: hidden; /* doesn't seem to work */
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: lighten($background-color, 10%);
  }

  &::-webkit-scrollbar:window-inactive {
    visibility: hidden;
  }

}

.container-fluid {
  @include inset-left(padding-left);
  @include inset-right(padding-right);
}

// Handle Title
#title {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
