@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~src/variables';

// Handle NavList
#nav-list {
  display: none;
}

@include media-breakpoint-up(lg) {
  #nav-list {
    display: inline-block;
    margin-top: $navbar-collapsed-height;
  }

  #show-detail {
    height: 100vh;
  }

  .row {
    .col-scroll {
      height: calc(100vh - #{$navbar-collapsed-height});
      overflow: hidden;
      overflow-y: scroll;
    }
  }
}

// Handle NavBar
#navbar-title {
  transition: color 0.5s;

  &.clear {
    color: transparent;
  }
}

@include media-breakpoint-up(lg) {
  #navbar-title {
    order: 2;
    margin-right: 1rem;
  }
}

// Handle Banner
#banner {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

// Handle Thread Items
