@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~src/variables';

#nav-list {
  display: none;
}

@include media-breakpoint-up(lg) {
  #nav-list {
    display: inline-block;
  }

  .row {
    .col-scroll {
      height: calc(100vh - #{$navbar-collapsed-height});
      overflow: hidden;
      overflow-y: scroll;
    }
  }
}

.banner-container {
  overflow: hidden;

  img.banner {
    width: 100%;
    height: auto;
    z-index: 0;

    transform: scale(1.5);

    @media #{$tablet} { transform: scale(1.1) }
  }

  height: 25vw;
}

.container {
  margin: 10px;

  img {
    display: none;
  }

  @media #{$desktop} {
    .title-container {
      display: flex;
      flex-direction: row;
    }

    img {
      display: block;
      border-radius: 3px;
    }

    .image-container {
      margin: 10px;
    }

    .text-container {
      flex-grow: 1;
      flex-basis: 0;
      flex-shrink: 1;
    }
  }

  mat-card {
    background-color: darken($background-color, 2)
  }
}

mat-toolbar {
  background-color: transparent;
  color: transparent;
  position: fixed;
  z-index: 1;
  transition: all 0.5s;

  &.bottom {
    background-color: $background-color;
    color: $text-color;
  }

  button {
    background-color: rgba($background-color, .7);
  }

  span {
    color: transparent;
    transition: all 0.5s;

    &.bottom {
      color: $text-color;
    }
  }
}
