<app-navbar> <span id="title" class="text-truncate"> {{show?.title.english}} </span> </app-navbar>

<div class="container-fluid px-0">
  <div class="row no-gutters">
    <div id="nav-list" class="col-scroll col-lg-4" [ngClass]="rootPath ? 'root-path' : ''">
      <app-nav-list [active]="show?.id"></app-nav-list>
    </div>
    <div id="show-detail" class="col-scroll col-lg-8">

      <div
        *ngIf="show"
        id="banner"
        [style.background-image]="'url(' + show.bannerImage + ')'"
        class="jumbotron jumbotron-fluid"
      >
      </div>

      <div *ngIf="show">

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <img class="img-fluid" alt="{{show.title.english}} Cover Image" src="{{show.coverImage.extraLarge}}"/>
            </div>
            <div class="col-sm-8">
              <h2>{{show.title.english}}</h2>

              <div class="card">
                <div class="card-body" [innerHTML]="show.description"></div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div [ngClass]="rewatch.length ? 'col-sm-6' : 'col-sm-12'">

              <h2> Discussion </h2>

              <div class="list-group">
                <app-thread *ngFor="let thread of discussions" [thread]="thread"></app-thread>
              </div>
            </div>

            <div *ngIf="rewatch.length" class="col-sm-6">

              <h2> Rewatch </h2>

              <div class="list-group">
                <app-thread *ngFor="let thread of rewatch" [thread]="thread"></app-thread>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

