@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~src/variables.scss';
@import '~src/mixins.scss';

header {
  @include inset-top(height, $navbar-collapsed-height);
}

#navbar-buffer {
  @include inset-top(margin-bottom, $navbar-collapsed-height);
}

div.container {
  header {
    @include inset-top(padding-top, 0.5rem);
  }

  header {
    background-color: $background-color;
    transition: background-color 0.5s;
  }

  &.clear {
    header {
      background-color: transparent;
    }

    button.navbar-toggler {
      background-color: $background-color;
    }
  }
}
