@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~src/variables.scss';

@function inset-top($value) {
  @return calc(#{$value} + env(safe-area-inset-top, 0px));
}

header {
  height: inset-top(#{$navbar-collapsed-height});
}

#navbar-buffer {
  margin-bottom: inset-top(#{$navbar-collapsed-height});
}

div.container {
  header {
    padding-top: inset-top(0.5rem);
    background-color: $background-color;
    transition: background-color 0.5s;
  }

  &.clear {
    header {
      background-color: transparent;
    }

    button.navbar-toggler {
      background-color: $background-color;
    }
  }
}
