<div class="container">
  <header class="navbar navbar-dark fixed-top">
    <a class="btn btn-outline-primary" routerLink="/">
      <fa-icon icon="arrow-left"></fa-icon>
    </a>

    <ng-content></ng-content>

    <button
      class="btn btn-outline-primary ml-auto"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon icon="bars"></fa-icon>
    </button>
  </header>

  <div *ngIf="padding" id="navbar-buffer"></div>
</div>

<router-outlet></router-outlet>

