<div class="container">
  <header class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">

    <a class="navbar-brand" [routerLink]="['/']" (click)="collapseNavbar()">Toron</a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      (click)="toggleNavbar()"
      [attr.aria-expanded]="!navbarCollapsed"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon icon="bars"></fa-icon>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/getting-started']" (click)="collapseNavbar()">Getting Started</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/components']" (click)="collapseNavbar()">Components</a>
        </li>
      </ul>
    </div>
  </header>
</div>

<div id="navbar-buffer" [ngClass]="navbarCollapsed ? 'collapsed' : 'expanded'"></div>

<router-outlet></router-outlet>
