<!--<mat-toolbar [ngSwitch]="searchEnabled">-->
  <!--<div @searchTrigger *ngSwitchCase="false" class="toolbar-container">-->
    <!--<button routerLink="/settings" mat-icon-button>-->
      <!--<mat-icon aria-label="Back">settings</mat-icon>-->
    <!--</button>-->

    <!--{{title}}-->

    <!--<span class="fill"></span>-->

    <!--<button (click)="toggleSearch()" mat-icon-button>-->
      <!--<mat-icon aria-label="Search">search</mat-icon>-->
    <!--</button>-->
  <!--</div>-->

  <!--<div @searchTrigger *ngSwitchCase="true" class="toolbar-container">-->
    <!--<mat-form-field [floatLabel]="'never'">-->
      <!--<input matInput #search>-->
    <!--</mat-form-field>-->

    <!--<button (click)="toggleSearch()" mat-icon-button>-->
      <!--<mat-icon aria-label="Close">close</mat-icon>-->
    <!--</button>-->

  <!--</div>-->

<!--</mat-toolbar>-->

<div class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col-lg-4">
      <app-nav-list></app-nav-list>
    </div>
  </div>
</div>


