.toolbar-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;

  mat-form-field {
    font-size: 0.6em;
    flex: 1 1 auto;
  }

}

.list-group-item {
  padding: 0;

  .cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 5rem;
    max-width: 5rem;
  }

  .text-container {
    padding: 0.75rem 1.25rem;
  }

  .chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
  }
}
