@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~normalize.css/normalize.css';
@import '~src/variables.scss';

html, body {
  background-color: $background-color;
  height: 100%;
}

div.invert {
  a, h1, h2, h3, h4, h5, img, mat-card-content {
    transform: scale(-1, -1);
  }
}

* {
  color: $text-color;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.fill {
  flex: 1 1 auto;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}
